.scroll-container {

    .canvas-container {
        width: 100dvw;
        height: 100dvh;
        position: absolute;
        top:0px;
        left: 0px;
        background-color: black;

        .canvas {
            width: 100dvw;
            height: 100dvh;
            position: fixed;
            top: 0px;
            left: 0px;
        }

        .loading-overlay {
            width: 100dvw;
            height: 100dvh;
            position: fixed;
            top: 0px;
            left: 0px;
            z-index: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            background-color: black;
            opacity: 0;
            transform: translateX(100dvw);
            transition: 0.4s opacity,0.4s transform 0.4s;

            p,
            h3 {
                color: white;
            }
        }

        .loading-overlay.show {
            opacity: 1;
            transform: translateX(0px);
        }
    
    }
}